/*@font-face {
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}*/

* {
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 800px;
    height: 100vh;
}

.navbar {
    position: fixed;
    background-color: hsla(210, 16%, 93%, 0.8);
    width: 100%;
    height: 10%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.base-opcoes {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 120px;
    left: 20px !important;
}

ul {
    padding-top: 1%;
    min-width: 600px;
}

.base-opcoes  > ul  > li {
    display: inline-block;
    height:  30px;
    list-style: none;
    text-decoration: none;
    padding-top: 0.5%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.base-opcoes >  ul > li:hover  {
    background-color: #FFF;
    transition: 0.2s;
    border-radius: 5px;
    border-bottom: 3px brown solid;
}

.base-opcoes  > ul  > li > a {
    text-decoration: none;
    width: 100% !important;
    height: 100% !important;
    color: #000;
}

.base-search {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-input {
    position: absolute;
    background-color: #FFF;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#search {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

#iconSearch {
    height: 80%;
    padding-right: 5px;;
    cursor: pointer;
}

.sectionCapa {
    background-image: url('../img/capa.jpg');
    top: 10%;
    width: 100%;
    height: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF;
    font-size: 64px;
}

.main {
    top: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.baseLivros {
    width: 95%;
    height: 250px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.baseLivros > span {
    position: absolute;
    top: -8px;
    left: 0px;
    font-weight: bold;
    padding: 10px;
}

.baseArquivos {
    top: 10px !important;
    border: 1px #c3c3c3 solid;
    width: 200px;
    height: 85%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.baseArquivos > img {
    height: 100%;
    max-width: 100%;
}

.baseArquivos:hover {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 50%, rgba(177,177,177,1) 100%);
    width: 300px;
    height: 100%;
    box-shadow: 2px 2px 20px 5px;
    z-index: 3;
}
