@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}